* {
  font-family: "Open Sans", sans-serif;
}
img {
  max-width: 9vh;
  max-height: auto;
}

.header {
  color: white;
  margin-top: 200px;
  font-size: 70px;
}
body {
  margin: 0;
  background-color: #cfd8dc;
}

.left-side {
  background-color: #455a64;
  color: #fff;
  text-align: center;
  width: 50vw;
  position: fixed;
  height: 100%;
}
input {
  letter-spacing: 2px;
  font-size: 1.8em;
  margin: 1vh 0;
  width: 90%;
  border: 0;
}

.left-side button {
  width: 90%;
  background-color: #ffc107;
  color: #fff;
  border: 0;
  margin: 1vh 0;
  font-size: 2em;
}

button:hover {
  background-color: #ffd773;
}

.link-tally p{
  display: inline;
  padding: 0 30px;
  text-align: left;
  font-size: 2em;
  color: #d1d9dd
}

.right-side {
  width: 50%;
  height: 100%;
  float: right;
}
/* ul{
  text-align: center;
} */

/* card classes */
  .card-mockup {
    border: 1px solid #607d8b;
    margin: 20px;
    background-color: #fff;
    padding: 2%;
    text-align: left;
  }
  
  .card-mockup .bottom-text {
    color: #455a64;
    text-decoration: underline;
    text-decoration-color: #455a5f;
    text-align: right;
  }

  .card-mockup readCard{
    background-color: #f2f4f4;
  }

  .bottom-text-delete {
    float: right;
  }
.card-mockup h2 {
  color: #455a64;
  margin: 2% 0%;
}
.card-mockup p {
  text-decoration-color: #f2f4f4;
  color: #607d8b;
}

.card-mockup p:hover {
  text-decoration-color: #ffc107;
}

/* Marked as read classes */
.card-marked-as-read {
  background-color: #f2f4f4;
}

.card-marked-as-read bottom-text-read{
  color: red;
}

hr {
  width: 98%;
  color: #cfd8dc;
  border: 1px solid #cfd8cd;
}

/* responsiveness */

@media screen and (max-width: 1200px) {

  .header {
    font-size: 3.2em;
  }
  .link-tally p{
    font-size: 1em;
}
/*Tablet LANDSCAPE*/

/*Tablet Size*/
@media screen and (max-width: 775px) {

  .left-side {
    width: 100%;
    height: 30vh;
    padding-bottom: 100px;
  }

  .left-side button {
    /* width: 90%; */
    font-size: 2em;
  }
  .header {
    font-size: 3em;
    margin-top: 0;
    padding-top: 20px;
  }
  .link-tally p{
    font-size: 1em;
  }
  /* can I do this without 375 padding?*/
  .right-side {
    width: 100%;
    height: 100;
    padding-top: 375px;
    float: left;
  }
}

/*phone size*/

@media screen and (max-width: 355px) {
  .left-side {
    height: 30vh;
    font-size: 1em;
  }

  .header {
    font-size: 2.5em;
  }

  img {
    max-width: 15vw;
  }
  .link-tally p{
    font-size: 10px;
}
}}