* {
  font-family: "Open Sans", sans-serif;
}
img {
  max-width: 9vh;
}

.header {
  color: white;
  font-size: 70px;
  margin-top: 200px;
}

body {
  background-color: #cfd8dc;
  margin: 0;
}

.enter-button {
  background-color: #ffc107;
  border: 0;
  color: #fff;
  font-size: 2em;
  margin: 1vh 0;
  width: 90%;
}

button:focus {
  outline: none;
}

.enter-button:hover {
  background-color: #ffd773;
}

input {
  letter-spacing: 2px;
  font-size: 1.8em;
  margin: 1vh 0;
  width: 90%;
  border: 0;
}

input:focus {
  outline: none;
}

.left-side {
  background-color: #455a64;
  color: #fff;
  height: 100%;
  position: fixed;
  text-align: center;
  width: 50vw;
}

.link-tally p {
  color: #d1d9dd;
  display: inline;
  font-size: 2em;
  padding: 0 20px;
}

/* ------------------ RIGHT SIDE COLUMN ------------------*/

.right-side {
  float: right;
  width: 50vw;
}

.right-side button {
  border: 0;
  background-color: transparent;
}

.delete-button {
  float: right;
}

ul {
  list-style-type: none;
  padding: 10px;
}

/*----------------- CARD CLASSES ---------------------*/
.card-mockup {
  border: 1px solid #607d8b;
  margin: 20px;
  background-color: #fff;
  text-align: left;
}

.card-mockup .bottom-text {
  color: #455a64;
  display: inline;
  margin: 10px;
  text-decoration: underline;
  text-decoration-color: #455a5f;
}

.card-mockup .delete-text {
  float: right;
}

.readCard {
  background-color: #f2f4f4;
}

.card-mockup p {
  text-decoration-color: #f2f4f4;
  color: #607d8b;
}

.bottom-text {
  display: inline;
}
.card-mockup p:hover {
  text-decoration-color: #ffc107;
}

/*------------------- Marked as read classes. Not working anymore --------------------*/
.card-marked-as-read {
  background-color: #f2f4f4;
}

.card-marked-as-read .read-button {
  font-weight: 800;
  color: red;
}

hr {
  width: 98%;
  color: #cfd8dc;
  border: 1px solid #cfd8cd;
}

/*------------------------- responsiveness --------------------------*/

/*Laptop size*/
@media screen and (max-width: 1200px) {
  .header {
    font-size: 3.2em;
  }
  .link-tally p {
    font-size: 100%;
  }
}
/*Tablet Size*/
@media screen and (max-width: 800px) {
  .left-side {
    width: 100%;
    height: 30vh;
    padding-bottom: 100px;
  }

  .enter-button {
    font-size: 2.5em;
  }
  .header {
    font-size: 3em;
    margin-top: 0;
    padding-top: 20px;
  }
  .link-tally p {
    font-size: 1em;
  }
  .right-side {
    width: 100%;
    height: 100;
    padding-top: 375px;
    float: left;
  }
}

/* Phone Portrait */
@media screen and (max-width: 375px) {
  .left-side {
    height: 30vh;
    font-size: 1em;
  }

  .header {
    font-size: 2.5em;
  }

  img {
    max-width: 15vw;
  }
  .link-tally p {
    font-size: 10px;
  }
}
